/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9; 
    color: #333; 
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
    border-bottom: 3px solid #0244ad;
    padding-bottom: 10px;
    color: #0244ad; /* Vibrant blue */
    font-size: 2.5rem;
}

.description {
    font-size: 1.2rem;
    margin: 15px 0 25px;
}

button {
    padding: 10px 20px;
    background: linear-gradient(to right, #34c4c8, #3A70E9);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.card {
    display: inline-block;
    text-align: center;
    border-radius: 8px;
}
